/* Estilos generales */
body {
    font-family:'League Spartan', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  header {
    background-color:black;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    list-style: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p{
    font-size: 1.3rem;
  }


  img{
    height: 10rem;
  }

  aside{
    width: 55%;
    text-justify: auto;
  }
  
  .logo{
    height: 8rem;
  }

  .personajes li{
    list-style: none;
  }

  .lorena{
    cursor: pointer;
  }

/****************************/

