/* Estilos generales */
body {
    font-family:'League Spartan', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  header {
    background-color:black;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    list-style: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p{
    font-size: 1.3rem;
    max-width: 71%;
  }

  img{
    height: 10rem;
  }

  aside{
    width: 55%;
    text-justify: auto;
  }

  footer{
    background-color: black;
    width: 100%;
    height: 100%;
  }
  
  .logo{
    height: 8rem;
    margin-left: 2rem;
  }

  .ul{
    list-style: none;
    width: 80%;
    background: lightgrey;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .ul .li{
    background: orange;
    overflow: hidden;
  }

  .ul .a{

  }

  .ul .img{
    height: 15vh;
    transition: all .5s ease;
    transform: scale(1.4);
  }

  .ul .li:hover .img{
    transform: scale(1);
  }

  .lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;

  }

  .lightbox .cerrar{
    width: 3em;
    height: 3em;
    background: orange;
  }

  .lightbox .grande{
    width: 80%;
    height: 80vh;
    background: lightblue;
  }
  .nav{
    margin-right: 2rem;
  }

  .personajes li{
    list-style: none;
  }

  .lorena{
    cursor: pointer;
    position: absolute; 
    right: 1; 
    bottom: 1;
  }

/****************************/

.carrousel{
  width: 30%;
  max-width: 120em;
  overflow: hidden;
}

.carrousel .grande{
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: all .5s ease;
  transform: translateX(0%);
}

.carrousel .img{
  width: calc(100%/4);
  height: 100%;
}

/* .img_lorena{
height: 29rem;
} */
.carrousel .puntos{
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel .punto{
  font-size: 0.8rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width:fit-content;
  height:fit-content;
  cursor: pointer;
  background-color: #37aff0;
  border-radius: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.carrousel .punto:hover {
  background-color: #228bc4;
}

.carrousel .punto.activo{
color: #eee;
background-color: #166f9e;
}